@import "variables/colors.scss";
@import "variables/fontSize.scss";
@import "variables/fontStyle.scss";

*{
	font-family: times new roman;
}

@import "include/account.scss";
header .header_nav{
	position: unset!important;
}
@import "include/menu.scss";

.slide{
	padding-top: 35px;
	img{
		height: 300px;
    	width: 100%;	
	}
}
@import "include/adv_item.scss";


.main_item{
	 padding-top: 22px;
}
.main_product{
	padding-top: 27px;
	p{
		 padding-top: 23px;
	}
	.keyword_item{
		font-size: $font_size_header;
		font-family: $font_style_open_san;
		padding: 5px 7px;
    border: 1px solid $color_gray;
    margin-right: 11px;
    text-decoration: none;
    color: $color_black;
	}
}
.keyword{
	padding-top: 23px;
}
.menu_list{
	padding-top: 20px;
	h4{
		font-size: $font_size_14;
		color: $color_gray_news;
		padding-left: 10px;
	}
	ul{
		padding: 0;
    list-style-type: none;
		li{
			padding-top: 7px;
			a{
				font-size: $font_size_14;
				color:$color_gray_news;
				text-decoration: none;
			}
		}
	}
}
.advertise{
	padding-top:50px;
}

.main_item_top{
	border:1px solid $color_gray_news_h6;
	padding:10px 0;
	.main_item_left{
		a{
			margin-right:13px;
			color: $color_gray_news_h6;
		}
	}
	.main_item_right{
		text-align:right;
		i{
			color:$color_gray_news_h6;
			margin: 0 10px;
		}
		a{
			font-size:$font_size_bottom_h3;
			color:$color_gray_news_h6;
			padding: 0 2px;
		}
	}
}

.main_item_bottom{
	display:flex;
	flex-direction: column;
	flex-wrap:wrap;

}

.new_prodct_main_item{
	padding-top: 34px;
	border-bottom: 1px solid $color_gray_footer;
	padding-bottom: 32px;
	.img_product{
		text-align: center;
	}
	img{
		height:320px;
	}
	h3{
		font-size:$font_size_25;
		color:$color_black;
	}
	.price{
		font-size:$font_size_34;
		color:$color_orange;
		font-family: $font_style_caviar;
	}
	p{
		font-size: $font_size_13;
		color:$color_gray_footer_bold;
	}
	a{
		display: inline-block;
    justify-content: center;
    background-color: $color_black;
    text-align: center;
    width: 100px;
    margin-top: 16px;
    padding-top: 5px;
    text-decoration: none;
    color:$color_white;
    width:112px;
    height:31px;
    font-size: $font_size_header;
    float:left;
	}
}
.informore{
	padding-top: 22px;
	i{
		padding-right: 38px;
	}
}


@import "include/footer.scss";