$color_gray:#d6d6d6;
$color_black:#000000;
$color_gray_footer:#bcbcbc;
$color_gray_footer_bold:#8b8b8b;
$color_gray_news: #818181;
$color_gray_news_h6: #c1c1c1;
$color_white:#ffffff;
$color_menu_item:#737373;
$color_orange:#e6ae48;
$color_red:#9c0001;
$color_gray_comment: #eeeeee;
$color_gray_title: #505050;
$color_666666:#666666;
$color_fafafa:#fafafa;
$color_table: #efeeee;
$color_address:#24c5d9;