$padding_20:20px;
$padding_24:24px;
$font_size_header: 12px;
$font_size_13:13px;
$font_size_bottom_h3:18px;
$font_size_14:14px;
$font_size_14_04:14.04px;
$font_size_14_15:14.15px;
$font_size_16:16px;
$font_size_18:18px;
$font_size_19:19px;
$font_size_21:21px;
$font_size_24:24px;
$font_size_25:25px;
$font_size_28:28px;
$font_size_30:30px;
$font_size_34:34px;
$font_size_42:42px;
$font_size_72:72.08px;
$position_right:-69px;
