$LG:1200px;//thiết bị màn hình rộng
$MD:1024px;//pc laptop
$SM:768px;//table máy tính bảg
$XS:480px;//điệnt hoại

@mixin Responsive($A){
	@if $A == XS{
		@media screen and (min-width:$XS){
			@content;
		}
	}
	@else if $A == SM{
		@media screen and (min-width:$SM){
			@content;
		}
	}
	@else if $A == MD{
		@media screen and (min-width:$MD){
			@content;
		}
	}
	@else if $A == LG{
		@media screen and (min-width:$LG){
			@content;
		}
	}
}

