.button_page{
	display: inline-block;
  justify-content: center;
  background-color: $color_black;
  text-align: center;
  margin-top: 16px;
  padding-top: 5px;
  text-decoration: none;
  color: #ffffff;
  font-size: $font_size_header;
  float: left;
  padding: 20px 43px;
}