menu.clearfix
		.container
			.row.menu
				.col-md-2.menu-left
					img(src='../img/logo.png' alt='logo')

				.col-md-10.col-xs-12.col-sm-12.menu-right
					ul.menu-right-dropdown
						li
							a(href='#') TRANG CHỦ
						li.dropdown
							a(href="#") RƯỢU VANG ĐỎ
							div.menu-dropdown
								i.fas.fa-caret-up
								-for( var i =0 ; i < 3;i++ )			
									.menu-item
										h3 RƯỢU NGOẠI
										ul.sub_item
											-var array=['Rượu Chivas','Hàng độc - Rượu độc đáo', 'Johnnie Walker','Rượu Whisky','Rượu Remy Martin','Rượu Glenmorangie']
											each value in array
												li
													a(href="#")= value
												
								.image_menu
									img(src='../img/menu-info.jpg' alt='').

						each value in ["RƯỢU VANG TRẮNG","CHAMPAGNE","THÔNG TIN","BLOG","LIÊN HỆ"]
							li
								a=value